{% extends './base.html' %}

{% block title %}Simple website{% endblock %}
{% block content %}
    <div class="light-theme">
        <h1>Task List</h1>
        <p id="msg">Current tasks:</p>
        <ul>
            <li class="list">Add visual styles</li>
            <li class="list">Add light and dark themes</li>
            <li>Enable switching the theme</li>
        </ul>
        <div>
            <button class="btn">Dark</button>
        </div>
    
        <button id="reproducir">Reproducir video</button>
        <button id="pausar">Pausar video</button>
        <button id="siguiente">Siguiente video</button>
        <div id="player">
    
        </div>
    </div>
{% endblock %}